@model UserViewModel;

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>@ViewData["title"]</h5>
                <div class="ibox-tools"></div>
            </div>
            <div class="ibox-content">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" asp-controller="User" asp-action="@(Model.IsEdit ? "Edit" : "Create")">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Username"/>
                        </div>
                    </div>
                    @if (!@Model.IsEdit)
                    {
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" asp-for="Password"/>
                            </div>
                        </div>   
                    }
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">First name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="FirstName"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Second name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="SecondName"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ia active</label>
                        <div class="col-sm-10">
                            <div class="i-checks">
                                <label class="">
                                    <div class="icheckbox_square-green" style="position: relative;">
                                        <input type="checkbox" asp-for="IsActive" style="position: absolute; opacity: 0;">
                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row" id="data_1">
                        <label class="col-sm-2 col-form-label">Created at</label>
                        <div class="col-sm-10">
                            <div class="input-group date">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control" asp-for="CreatedAt"/>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Position</label>
                        <div class="col-sm-10">
                            <select asp-for="PositionId" class="form-control m-b" asp-items="@(new SelectList(ViewBag.positions, "Id", "Title"))">
                                <option selected="selected" value="0">Choose position</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

