@{
    ViewData["Title"] = "Create User";
}

<partial name="_UserForm" model="@Model"/>

@section Styles
{
    <partial name="_UserStyles"/>
}

@section Scripts
{
    <partial name="_UserScripts" />
}
