@{
    ViewData["Title"] = "Users";   
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Users</h5>
                
                <div class="ibox-tools">
                    <a asp-controller="User" asp-action="Create" class="btn btn-primary" style="margin-top: -8px">Create</a>        
                </div>
            </div>
            <div class="ibox-content">    
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="user-dataTable">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>First name</th>
                            <th>Second name</th>
                            <th>Is active</th>
                            <th>Created At</th>
                            <th>Position</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
}

@section Scripts
{
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    
    <script src="~/app/user.dt.js"></script>
}