@model LoginViewModel;
@{
    Layout = "";
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <style>
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            text-align: center;
            vertical-align: center;
        }
    </style>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">HR+</h1>
            </div>
            <h3>Welcome to HR+</h3>
            <p>Login in. To see it in action.</p>
            
            <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
            
            <form class="m-t" method="post" asp-controller="Security" asp-action="Login">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Username" placeholder="Username" required="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" required="" />
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </form>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

</body>

</html>
