<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"]</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    
    @RenderSection("Styles", required: false)

</head>

<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
        <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
            <!--<div class="navbar-header">-->
                <!--<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">-->
                    <!--<i class="fa fa-reorder"></i>-->
                <!--</button>-->

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">HR+</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-reorder"></i>
                </button>

            <!--</div>-->
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav mr-auto" id="nav-menu">
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index">My Profile</a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="Index">Users</a>
                    </li>
                    <li>
                        <a aria-expanded="false" role="button" href="layouts.html">Requests</a>
                    </li>
                    <li>
                        <a aria-expanded="false" role="button" href="layouts.html">Reasons</a>
                    </li>
                    <li>
                        <a asp-controller="Position" asp-action="Index">Positions</a>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a asp-controller="Security" asp-action="Logout">
                            <i class="fa fa-sign-out"></i> Log out (@User.Identity.Name)
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Alexander Andreiev &copy; 2014-2018
            </div>
        </div>

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <!-- Peity -->
    <script src="~/js/plugins/peity/jquery.peity.min.js"></script>
    <!-- Peity demo -->
    <script src="~/js/demo/peity-demo.js"></script>
    
    @RenderSection("Scripts", required: false)

</body>

</html>
